
  @font-face {
    font-family: 'this_is_font_name';
    src: url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
    font-weight: normal; 
    font-style: normal; 
}
.App {
  text-align: center;
  font-size: 50px; 
  font-family: this_is_font_name; 
}