@font-face {
    font-family: "hr";
    font-weight: 100;
    src: url("./common/styles/hr.ttf") format("truetype");
  }
  @font-face {
    font-family: "ls";
    font-weight: 50;
    src: url("./common/styles/ls.ttf") format("truetype");
  }
  @font-face {
    font-family: "ko";
    font-weight: 50;
    src: url("./common/styles/ko.ttf") format("truetype");
  }